* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body {
    width: 100%;
    height: 100vh;
}

// isotop css
.isotop-img-box{
    margin: 10px !important; 
}
.isotop-img-box img {
    width: 100%;
    height: 100%;
}

.button-group {
    padding: 0.625rem 0.9375rem;
    background-color: aqua;
    margin: 0.625rem auto;
    display: flex;
    justify-content: center;
    border-radius: 3.125rem;
}

.button-group button {
    border: none;
    text-align: center;
    padding: 0.625rem 1.25rem;
    margin: 0 0.3125rem;
    color: rgb(230, 230, 3);
    background-color: black;
    border-radius: 0.3125rem;
    transition: 0.3s linear;
}

button.active {
    background-color: rgb(3, 230, 3);
    color: black;
}

.button-group button:hover {
    background-color: rgb(230, 230, 3);
    color: black;
}
